on: [pull_request, push]

name: CI

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: 1.92.0
          components: rustfmt
      - name: Cache Cargo
        uses: actions/cache@v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-lint-${{ hashFiles('**/Cargo.lock') }}
      - name: Check code formatting
        run: cargo fmt --check
      - name: Install cargo-deny
        uses: taiki-e/install-action@v2.48.0
        with:
          tool: cargo-deny@0.18.9
      - name: Check dependencies and licenses
        run: cargo deny check
  check:
    strategy:
      matrix:
        os: [ubuntu-latest, windows-latest, macos-latest]
        toolchain: [1.88.0, 1.92.0]
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Rust toolchain
        # Use a specific commit to install the toolchain with "toolchain" parameter
        uses: dtolnay/rust-toolchain@b3b07ba8b418998c39fb20f53e8b695cdcc8de1b
        with:
          toolchain: ${{ matrix.toolchain }}
          components: clippy
      - name: Cache Cargo
        uses: actions/cache@v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-check-${{ matrix.toolchain }}-${{ hashFiles('**/Cargo.lock') }}
      - name: Check code linting
        run: cargo clippy
  bench:
    needs: [lint, check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@1.92.0
      - name: Cache Cargo
        uses: actions/cache@v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-bench-${{ hashFiles('**/Cargo.lock') }}
      - name: Run benchmarks
        run: cargo bench --bench bench -- --output-format bencher | tee output.txt
      - name: Download previous benchmark data
        uses: actions/cache@v5.0.3
        with:
          path: ./cache-criterion
          key: ${{ runner.os }}-benchmark-${{ github.run_id }}
          restore-keys: |
            ${{ runner.os }}-benchmark-
      - name: Store benchmark result
        uses: benchmark-action/github-action-benchmark@v1.20.7
        with:
          tool: cargo
          output-file-path: output.txt
          external-data-json-path: ./cache-criterion/benchmark-data.json
          fail-on-alert: true
          github-token: ${{ secrets.GITHUB_TOKEN }}
          summary-always: true
  coverage:
    needs: [lint, check]
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6.0.2
      - name: Setup Rust toolchain
        uses: dtolnay/rust-toolchain@1.92.0
      - name: Cache Cargo
        uses: actions/cache@v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-coverage-${{ hashFiles('**/Cargo.lock') }}
      - name: Install coverage tools
        uses: taiki-e/install-action@v2.48.0
        with:
          tool: cargo-llvm-cov@0.6.14,cargo-nextest@0.9.87
      - name: Run tests with coverage
        run: cargo llvm-cov nextest --all-features --workspace --ignore-filename-regex main.rs --lcov --output-path lcov.info
      - name: Upload coverage report
        uses: codecov/codecov-action@v5.5.2
        with:
          token: ${{ secrets.CODECOV_TOKEN }}
  msrv:
    needs: [lint, check]
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6.0.2
      - name: Cache Cargo
        uses: actions/cache@v5.0.3
        with:
          path: |
            ~/.cargo/bin/
            ~/.cargo/registry/index/
            ~/.cargo/registry/cache/
            ~/.cargo/git/db/
            target/
          key: ${{ runner.os }}-cargo-msrv-${{ hashFiles('**/Cargo.lock') }}
      - uses: taiki-e/install-action@v2.48.0
        with:
          tool: cargo-hack@0.6.28
      - name: Check MSRV
        run: cargo hack check --rust-version --workspace --all-targets --ignore-private
